html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  letter-spacing: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: inherit
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block
}

object,
embed {
  max-width: 100%
}

ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

b,
strong {
  font-weight: bold
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}

del {
  text-decoration: line-through
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

mark {
  color: inherit
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0
}

input,
select {
  vertical-align: middle
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word
}

input[type="radio"] {
  vertical-align: text-bottom
}

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline
}

.ie6 input {
  vertical-align: text-bottom
}

select,
input,
textarea {
  font: 99% sans-serif
}

table {
  font-size: inherit;
  font: 100%
}

a:hover,
a:active {
  outline: none
}

small {
  font-size: 85%
}

strong,
th {
  font-weight: bold
}

td,
td img {
  vertical-align: top
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative
}

sup {
  top: -0.5em
}

sub {
  bottom: -0.25em
}

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif
}

.clickable,
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer
}

button,
input,
select,
textarea {
  margin: 0
}

button {
  width: auto;
  overflow: visible
}

.ie7 img {
  -ms-interpolation-mode: bicubic
}

.ie6 html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true))
}

.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden
}

.clearfix:after {
  clear: both
}

.clearfix {
  zoom: 1
}

select,
input,
textarea,
a {
  outline: none
}

a {
  color: inherit
}

html {
  font-family: 'Source Sans Pro', Arial sans-serif;
  font-size: 16px
}

a {
  text-decoration: none
}

div.img {
  margin: 5px;
  float: left;
  width: 180px;
}

div.img img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 12px;
  text-align: center;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 50%;
    padding: 5px;
}

/* Clear floats after image containers */
.row {
    content: "";
    clear: both;
    display: table;
}

.homePage {
  background: #2B3034;
  color: #fff
}

.homeContent {
  width: 900px;
  padding-right: 25px;
  background: url(me.png) no-repeat;
  background-size: 100px;
  padding-left: 130px;
  margin: 100px 0 0 100px
}

.homeContent__title {
  font-size: 32px;
  font-weight: 700
}

.homeContent__subtitle {
  color: #688399;
  margin-bottom: 20px
}

.homeContent__intro {
  margin-bottom: 50px;
  width: 600px;
  font-size: 18px;
  line-height: 1.8
}

.homeContent__intro a {
  color: #1fa0cb;
  border-bottom: 1px solid #323e42
}

.homeContent__grid {
  overflow: hidden;
  margin-bottom: 40px
}

.homeContent__gridItem {
  width: 33%;
  float: left
}

@media (max-width: 1000px) {
  .homeContent {
    width: inherit
  }
  .homeContent__intro {
    width: inherit
  }
  .homeContent__gridItem {
    float: none;
    width: inherit
  }
}

@media (max-width: 550px) {
  .homeContent {
    padding-left: 0;
    padding-top: 150px;
    margin: 25px
  }
}

.navigationContainer {
  width: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  background: #2B3034;
  z-index: 1
}

.navigationContent {
  float: left;
  width: 300px;
  padding: 40px;
  color: #fff;
  position: relative;
  z-index: 100
}

.navigationContent__titleBox {
  border-left: 5px solid #0c7ad2;
  margin-left: -40px;
  padding-left: 35px;
  margin-bottom: 30px
}

.navigationContent__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  margin-bottom: 2px
}

.navigationContent__who {
  font-size: 14px;
  color: #6c89a0
}

.navigationContent__nav {
  margin-bottom: 50px
}

.navigationContent__nav li {
  margin-bottom: 12px;
  clear: left
}

.navigationContent__nav li a {
  font-size: 15px;
  text-decoration: none
}

.navigationContent__nav li a img {
  float: left;
  width: 18px;
  margin-right: 12px;
  margin-top: 1px
}

.navigationContent__nav li a:hover {
  opacity: 0.5
}

.navigationContent__nav li a:hover img {
  opacity: 0.5
}

.navigationContent__subTitle {
  margin-bottom: 15px;
  font-size: 14px;
  color: #6C899C
}

.navigationContent__companies {
  font-size: 13px;
  margin-bottom: 30px
}

.navigationContent__companies li {
  margin-bottom: 10px
}

.navigationContent__companies li a {
  text-decoration: none;
  color: #556e81;
  letter-spacing: -0.03em
}

.navigationContent__companies li a b {
  font-weight: 600;
  color: #fff
}

.navigationContent__companies li a:hover {
  color: #556e81;
  text-decoration: underline
}

.navigationContent__companies li a:hover b {
  text-decoration: underline
}

.navigationContent__socialLinks a {
  opacity: 0.7;
  margin-right: 5px
}

.navigationContent__socialLinks a:hover {
  opacity: 1
}

.navigationContent__socialLinks a img {
  width: 24px
}

.navigationContent__mobileMenuToggle {
  display: none;
  float: right;
  margin-top: 12px
}

.navigationContent__mobileMenuToggle img {
  width: 26px
}

#menuToggle {
  display: none
}

#menuToggle:checked ~ .navigationContent__mobileMenu {
  display: block
}

@media (max-width: 860px) {
  .navigationContainer {
    display: none
  }
  .navigationContent {
    float: none;
    background: #2B3034;
    width: 100%;
    padding: 20px 70px
  }
  .welcomeText {
    padding-top: 40px
  }
  .navigationContent__titleBox {
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    border: 0
  }
  .navigationContent__mobileMenuToggle {
    display: block
  }
  .navigationContent__mobileMenu {
    display: none;
    background: #2B3034;
    position: absolute;
    right: 0;
    padding: 20px 20px 20px 30px;
    border-radius: 0 0 0 10px
  }
}

@media (max-width: 560px) {
  .navigationContent {
    padding: 20px 40px
  }
}

.pageContent {
  margin-left: 300px;
  max-width: 900px;
  padding: 70px
}

@media (max-width: 860px) {
  .pageContent {
    margin-left: 0
  }
}

@media (max-width: 560px) {
  .pageContent {
    padding: 40px
  }
}

.postPage__header {
  margin-bottom: 20px
}

.postPage__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 45px;
  letter-spacing: -0.03em;
  margin-bottom: 2px
}

.postPage__date {
  color: #ccc;
  text-transform: uppercase;
  font-size: 16px
}

.postPage__coverImage {
  height: 300px;
  margin: 40px -70px;
  background: #E8F4FE;
  border-radius: 0 8px 8px 0;
  background-size: cover;
  background-position: center center;
  background-origin: fixed
}

.postPage__coverImage--opensource {
  background-image: url(covers/opensource.jpg)
}

.postPage__coverImage--me {
  background-image: url(covers/me.jpg)
}

.postPage__coverImage--projects {
  background-image: url(covers/projects.jpg)
}

.postPage__coverImage--tvguia {
  background-image: url(covers/tvguia.jpg)
}

.postPage__coverImage--warzoneintel {
    background-image: url(img/warzoneintel/warzoneintel1.png)
}

.postPage__coverImage--hsj {
    background-image: url(img/hsj/hsj1.png)
}

.postPage__coverImage--etr {
    background-image: url(img/etr/etr1.png);
}

.postPage.page .postPage__date {
  display: none
}

.postPage__content {
  font-size: 19px;
  line-height: 30px
}

.postPage__content a {
  color: #0C7AD2;
  border-bottom: 1px solid #C1DBEF
}

.postPage__content h1,
.postPage__content h2,
.postPage__content h3,
.postPage__content h4,
.postPage__content h5,
.postPage__content p,
.postPage__content ul,
.postPage__content ol,
.postPage__content pre {
  margin-bottom: 25px
}

.postPage__content ul li {
  list-style: square
}

.postPage__content li {
  margin-left: 45px;
  margin-bottom: 8px
}

.postPage__content h1,
.postPage__content h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 50px 0 15px 0
}

.postPage__content h3,
.postPage__content h4 {
  font-size: 28px;
  font-weight: 700;
  margin: 50px 0 15px 0
}

.postPage__content pre {
  background: #ecf1f5;
  font-size: 0.9em;
  color: #3c444b;
  padding: 20px 0;
  border: 1px solid #c8d2da;
  border-radius: 0 8px 8px 0;
  margin-left: -70px;
  padding-left: 70px;
  margin-right: -70px;
  padding-right: 70px;
  white-space: pre;
  word-wrap: normal;
  overflow-x: auto
}

.postPage__content pre::-webkit-scrollbar {
  height: 3px;
  width: 3px;
  background: #C8D2DA
}

.postPage__content pre::-webkit-scrollbar-thumb {
  background: #8E9FA8
}

.postPage__content p code,
.postPage__content li code {
  background: #ecf1f5;
  padding: 1px 3px;
  border-radius: 3px;
  font-size: 80%;
  margin: 0 2px;
  border: 1px solid #c8d2da;
  color: #3c444b;
  white-space: pre
}

.postPage__content p img {
  max-width: 100%;
  display: block;
  margin: auto
}

.postPage__content blockquote {
  background: #ecf1f5;
  font-style: italic;
  border-left: 3px solid #c6d1d9;
  margin-bottom: 25px;
  padding: 25px
}

.postPage__content blockquote p:last-child {
  margin-bottom: 0
}

@media (max-width: 1200px) {
  .welcomeText {
    border-radius: 0
  }
  .postPage__content pre {
    border-radius: 0
  }
  .postPage__coverImage {
    border-radius: 0
  }
}

@media (max-width: 860px) {
  .pageContent {
    margin-left: 0
  }
  .navigationContainer {
    display: none
  }
  .navigationContent {
    float: none;
    background: #2B3034;
    width: 100%;
    padding: 20px 70px
  }
  .welcomeText {
    padding-top: 40px
  }
  .navigationContent__titleBox {
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    border: 0
  }
  .navigationContent__mobileMenuToggle {
    display: block
  }
  .navigationContent__mobileMenu {
    display: none;
    background: #2B3034;
    position: absolute;
    right: 0;
    padding: 20px 20px 20px 30px;
    border-radius: 0 0 0 10px
  }
}

@media (max-width: 560px) {
  .postPage__content pre {
    margin-left: -40px;
    margin-right: -40px;
    padding-left: 40px;
    padding-right: 40px
  }
  .postPage__title {
    font-size: 30px;
    line-height: 36px
  }
  .postPage__coverImage {
    margin-left: -40px;
    margin-right: -40px
  }
}

.welcomeText {
  margin-left: -70px;
  border-bottom: 1px solid #deeaf4;
  border-right: 1px solid #deeaf4;
  padding-bottom: 40px;
  margin-bottom: 40px;
  background: #e8f4fe;
  padding: 35px 0;
  margin-top: -70px;
  padding-top: 70px;
  padding-left: 70px;
  margin-right: -70px;
  padding-right: 70px;
  border-radius: 0 0 10px 0
}

.welcomeText a {
  text-decoration: none;
  color: #0C7AD2;
  border-bottom: 1px solid #C1DBEF
}

.welcomeText__text {
  font-size: 21px;
  line-height: 36px
}

.welcomeText__me {
  float: right;
  border-radius: 50%;
  margin-left: 15px;
  width: 72px
}

@media (max-width: 1200px) {
  .welcomeText {
    border-radius: 0
  }
}

@media (max-width: 560px) {
  .welcomeText {
    margin-top: -40px
  }
  .welcomeText {
    margin-left: -40px;
    margin-right: -40px;
    padding-left: 40px;
    padding-right: 40px
  }
}
